header {
  font-size: 20px;
  text-align: center;
}

form a, form button {
  margin-left: 10px;
}

.post-show-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #f5f5f5;
}
